{{>header}}

    <!-- Introduction -->
    <div id="header" class="header bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2>Error 404! Page not found</h2>
            <p>Please goto <a href="/">Home</a> and try again.</p>
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of basic-1 -->
    <!-- end of introduction -->

{{>footer}}
